@mixin onTablet {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin onPhone {
  @media (max-width: 743px) {
    @content;
  }
}

.pages {
  font-size: 18px;
  line-height: 28.5px;
  width: 100%;
  white-space: pre-line; /* Перенос строки*/

  @include onTablet() {
    font-size: 16px;
  }

  @include onPhone() {
    font-size: 14px;
  }

  &__link:hover {
    text-decoration: underline; 
  }
}

.blue__title {
  color:#3C77F5;
  font-size: 20px;
  line-height: 28.5px;
  width: 100%;

  @include onTablet() {
    text-align: center;
  }

  @include onPhone() {
    text-align: center;
    font-size: 18px;
  }
}

.blue__text {
  color:#3C77F5;
}

.orange {
  background-color: #ffa55b38;

  &__title {
    color:#FD7A0D;
    font-size: 20px;
    line-height: 28.5px;
    width: 100%;
  
    @include onTablet() {
      text-align: center;
    }
  
    @include onPhone() {
      text-align: center;
      font-size: 18px;
    }
  }
}

.orange__text {
  color:#FD7A0D;
}

.green__title {
  color:#A9D927;
  font-size: 20px;
  line-height: 28.5px;
  width: 100%;

  @include onTablet() {
    text-align: center;
  }

  @include onPhone() {
    text-align: center;
    font-size: 18px;
  }
}

.green__text {
  color:#A9D927;
}

.container {
  padding: 0px 120px 60px 120px;

  @include onTablet() {
    padding: 0px 72px 30px 72px;
  }

  @include onPhone() {
    padding: 0px 20px 5px 20px;
  }
}

.container:last-child {
  padding: 0px 120px 0px 120px;

  @include onTablet() {
    padding: 0px 72px 0px 72px;
  }

  @include onPhone() {
    padding: 0px 20px 0px 20px;
  }
}

.case {
  padding-top: 20px;

  @include onPhone() {
    padding-top: 10px;
  }

  &__text {
    padding-top: 10px;
  }

  &__text:first-child {
    padding-top: 0px;
  }
}

.imprint {
  width: 100%;

  &__1{
    &__pic {
      width: 100%;
      height: auto;
      justify-content: center;
    }
  }

  &__2 {
    background-color: #3C77F517;
    white-space: pre-line;
  }

  &__blocks {
    padding-top: 20px;
    white-space: pre-line; /* Перенос строки*/

    @include onTablet() {
      padding-top: 10px;
    }
  
    @include onPhone() {
      padding-top: 10px;
    }
  }
}

.contact {
  width: 100%;

  &__container {
    &__info{
      padding-top: 60px;
  
      @include onTablet() {
        padding-top: 40px;
      }
    
      @include onPhone() {
        padding-top: 10px;
      }
    }

    &__block {
      padding-top: 20px;

      @include onPhone() {
        padding-top: 10px;
      }
    }

    &__input {
      padding-top: 15px;
    }

    &__input:first-child {
      padding-top: 0;
    }

    &__button{
      padding-top: 30px;
    }
  }

  &__input {
    min-width: 100%;
    background-color: white;
    border: 1px solid #3C77F5;
    border-radius: 5px;
    padding: 10px;

    &__textarea {
      min-width: 100%;
      background-color: white;
      border: 1px solid #3C77F5;
      border-radius: 5px;
      resize: none;
      padding: 10px 10px 82px 10px;
      scrollbar-width: thin; /* Ширина прокрутки */
      scrollbar-color: #3C77F5 #FFF;
    }

    &__textarea::-webkit-scrollbar {
      width: 4px; /* Ширина смуги прокрутки */
    }
    
    &__textarea::-webkit-scrollbar-thumb {
      background-color: #3C77F5; /* Колір смуги прокрутки */
      border-radius: 4px; /* Округлені кути смуги прокрутки */
    }
    
    &__textarea::-webkit-scrollbar-track {
      background-color: #FFF; /* Колір фону смуги прокрутки */
    }
  }

  &__input:focus,
  &__input__textarea:focus {
    outline: 1.5px solid #3C77F5; /* Змініть колір ободку на потрібний вам */
  }

  &__input::placeholder,
  &__input__textarea::placeholder {
    font-size: 14px;
  }

  &__button {
    min-width: 100%;
    background-color: #3C77F5;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 52px;
  
    @include onPhone() {
      font-size: 14px;
    }
  }
}

.presse{
  &__container {
    display: flex;

    &__info {
      padding-left: 24px;

      @include onTablet {
        padding-left: 24px;
      }
    
      @include onPhone {
        padding-left: 20px;
      }
    }

    &__pic {
      width: 40%;
      height: auto;

      @include onPhone() {
        width: 50%;
      }
    }
  }

  &__pic {
    width: 100%;
    height: auto;
  }

  &__plus {
    font-style: italic;
    color:#3C77F5;
  }
}
