@mixin onTablet {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin onPhone {
  @media (max-width: 743px) {
    @content;
  }
}

.pages {
  font-size: 18px;
  line-height: 28.5px;
  width: 100%;
  white-space: pre-line; /* Перенос строки*/
  text-align: justify;

  @include onTablet() {
    font-size: 15.5px;
  }

  @include onPhone() {
    font-size: 14px;
    line-height: 28px;
  }

  &__link:hover {
    text-decoration: underline; 
  }

  &__link {
    &__blue {
      cursor: pointer;
      background: linear-gradient(#3C77F5 0 0) bottom /var(--t, 0) 1.5px no-repeat;
      transition: 0.7s
    }

    &__blue:hover {
      --t: 100%;
    }
  }
}

.blue__title {
  color:#3C77F5;
  font-size: 20px;
  line-height: 28.5px;
  width: 100%;

  @include onTablet() {
    text-align: center;
  }

  @include onPhone() {
    text-align: center;
    font-size: 18px;
  }
}

.blue__text {
  color:#3C77F5;
}

.blue__section {
  width: 100%;
  background-color: #3C77F517;
}

.orange {
  background-color: #ffa55b38;

  &__title {
    color:#FD7A0D;
    font-size: 20px;
    line-height: 28.5px;
    width: 100%;
  
    @include onTablet() {
      text-align: center;
    }
  
    @include onPhone() {
      text-align: center;
      font-size: 18px;
    }
  }
}

.orange__text {
  color:#FD7A0D;
}

.orange__section {
  width: 100%;
  background-color: #ffa55b38;
}

.green__title {
  color:#A9D927;
  font-size: 20px;
  line-height: 28.5px;
  width: 100%;

  @include onTablet() {
    text-align: center;
  }

  @include onPhone() {
    text-align: center;
    font-size: 18px;
  }
}

.green__text {
  color:#A9D927;
}

.green__section {
  width: 100%;
  background-color: #d5ff614f;
}

.container {
  padding: 0px 120px 60px 120px;

  @include onTablet() {
    padding: 0px 72px 30px 72px;
  }

  @include onPhone() {
    padding: 0px 20px 5px 20px;
  }
}

.container:last-child {
  padding: 0px 120px 0px 120px;

  @include onTablet() {
    padding: 0px 72px 0px 72px;
  }

  @include onPhone() {
    padding: 0px 20px 0px 20px;
  }
}

.line {
  height: 1px;
  width: 40%;
  background-color:#A9D927;

  &__container {
    padding-top: 10px;
  }
}

.case {
  padding-top: 20px;

  @include onPhone() {
    padding-top: 10px;
  }

  &:first-child {
    padding-top: 0px;
  }

  &__text {
    padding-top: 10px;
    text-align: justify;

    &:first-child {
      padding-top: 0px;
    }

    &__first {
      text-align: justify;
      padding-top: 0;
    }
  }
}

.imprint {
  width: 100%;

  &__1{
    &__pic {
      width: 100%;
      height: auto;
      justify-content: center;
    }
  }

  &__2 {
    background-color: #3C77F517;
    white-space: pre-line;
  }

  &__blocks {
    padding-top: 20px;
    white-space: pre-line; /* Перенос строки*/

    @include onTablet() {
      padding-top: 10px;
    }
  
    @include onPhone() {
      padding-top: 10px;
    }
  }
}

.contact {
  width: 100%;

  &__container {
    &__info{
      padding-top: 60px;
  
      @include onTablet() {
        padding-top: 40px;
      }
    
      @include onPhone() {
        padding-top: 10px;
      }
    }

    &__block {
      padding-top: 20px;

      @include onPhone() {
        padding-top: 10px;
      }
    }

    &__input {
      padding-top: 15px;
    }

    &__input:first-child {
      padding-top: 0;
    }

    &__button{
      padding-top: 30px;
    }
  }

  &__input {
    min-width: 100%;
    background-color: white;
    border: 1px solid #3C77F5;
    border-radius: 5px;
    padding: 10px;

    &__textarea {
      min-width: 100%;
      background-color: white;
      border: 1px solid #3C77F5;
      border-radius: 5px;
      resize: none;
      padding: 10px 10px 82px 10px;
      scrollbar-width: thin; /* Ширина прокрутки */
      scrollbar-color: #3C77F5 #FFF;
    }

    &__textarea::-webkit-scrollbar {
      width: 4px; /* Ширина смуги прокрутки */
    }
    
    &__textarea::-webkit-scrollbar-thumb {
      background-color: #3C77F5; /* Колір смуги прокрутки */
      border-radius: 4px; /* Округлені кути смуги прокрутки */
    }
    
    &__textarea::-webkit-scrollbar-track {
      background-color: #FFF; /* Колір фону смуги прокрутки */
    }
  }

  &__input:focus,
  &__input__textarea:focus {
    outline: 1.5px solid #3C77F5; /* Змініть колір ободку на потрібний вам */
  }

  &__input::placeholder,
  &__input__textarea::placeholder {
    font-size: 14px;
  }

  &__button {
    min-width: 100%;
    background-color: #3C77F5;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 52px;
  
    @include onPhone() {
      font-size: 14px;
    }
  }
}

.presse{
  &__container {
    display: flex;

    &__info {
      padding-left: 24px;

      @include onTablet {
        padding-left: 24px;
      }
    
      @include onPhone {
        padding-left: 20px;
      }
    }

    &__pic {
      width: 15%;

      @include onTablet() {
        width: 30%;
      }

      @include onPhone() {
        width: 40%;
      }
    }
  }

  &__plus {
    &__blue {
      font-style: italic;
      color:#3C77F5;
    }

    &__green {
      font-style: italic;
      color:#A9D927;
    }

    &__orange {
      font-style: italic;
      color:#FD7A0D;
    }

    &__pic {
      width: 100%;
      height: auto;

      &__container {
        width: 40%;
        height: auto;
        float: left;
        margin-right: 24px;
      }
    }
  }
}

//formen-des-dualen-studiums
.formen_title{
  text-align: center;
}

.formen__container {
  @include onPhone() {
    width: 50%;
    margin: 0 auto;
  }
}

.item__content {
  display: none;
}

.item__content.open {
  display: block;
}

.item__main {
  cursor: pointer;
  padding-left: 15px;
}

.item__container {
  width: 100%;
  display: flex;
  cursor: pointer;
}

.item__container:hover {
  background: #175ef817;
}

.item__list {
  padding-left: 25px;
}

//Анімація стрілок
.arrowAccordion {
  position: relative;
  cursor: pointer;
  margin: 9px;
  width: 22px; 
  height: 10px; 

  @include onPhone() {
    width: 15px; 
    height: 7px; 
  }
}

.arrowAccordionLeft {
  position: absolute;
  background-color: transparent;
  top: 4px;
  left: 0;
  width: 13px; /* Зменшений розмір полоски */
  height: 3px; /* Зменшений розмір полоски */
  display: block;
  transform: rotate(35deg);
  float: right;
  border-radius: 1px;

  @include onPhone() {
    top: 3px;
    width: 9px;
    height: 2px;
  }
}

.arrowWrapper {
  align-items: center;
}

.arrowAccordionLeft::after {
  content: '';
  background-color: #3C77F5;
  width: 13px; /* Зменшений розмір полоски */
  height: 3px; /* Зменшений розмір полоски */
  display: block;
  float: right;
  border-radius: 3px 5px 5px 3px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  z-index: -1;

  @include onPhone() {
    width: 9px; 
    height: 2px; 
    border-radius: 2px 4px 4px 2px;
  }
}

.arrowAccordionRight {
  position: absolute;
  background-color: transparent;
  top: 4px;
  left: 9px;
  width: 13px; /* Зменшений розмір полоски */
  height: 3px; /* Зменшений розмір полоски */
  display: block;
  transform: rotate(-35deg);
  float: right;
  border-radius: 1px;

  @include onPhone() {
    top: 3px;
    left: 6px;
    width: 9px; /* Зменшений розмір полоски */
    height: 2px; /* Зменшений розмір полоски */
  }
}

.arrowAccordionRight::after {
  content: '';
  background-color: #3C77F5;
  width: 13px; /* Зменшений розмір полоски */
  height: 3px; /* Зменшений розмір полоски */
  display: block;
  float: right;
  border-radius: 5px 3px 3px 5px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  z-index: -1;

  @include onPhone() {
    width: 9px;
    height: 2px;
    border-radius: 4px 2px 2px 4px;
  }
}

.open .arrowAccordionLeft::after {
  transform-origin: center center;
  transform: rotate(-70deg);
}

.open .arrowAccordionRight::after {
  transform-origin: center center;
  transform: rotate(70deg);
}

//formen-des-dualen-studiums

//duales-studium-im-detail

.details__background {
  content: "";
  width: 100%;
  height: 100%;
  margin-top: 49px;
  background-image: url('../images/background_university.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.details__background .details__text,
.details__background .details__title {
  color: #000000; /* кольори тексту на прозорому фоні */
  text-align: center;
}

.details__container {
  display: flex;
  flex-wrap: wrap;
}

.details__item {
  flex: 1;

  @include onPhone () {
    flex-basis: 100%;
  }
}

.details__item:not(:last-child) {
  margin-right: 1%;

  @include onPhone () {
    margin-right: 0px;
    margin-top: 1.5%;
  }
}

.details__item:not(:first-child) {
  margin-left: 1%;


  @include onPhone () {
    margin-left: 0px;
    margin-bottom: 1.5%;
  }
}

.details__item__content {
  width: 100%;
  padding: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.details__container__pic {
  width: 20%;
  height: auto;

  @include onPhone () {
    width: 15%;
  }
}

.details__pic {
  width: 100%;
  height: auto;
}

//gehalt
.gehalt__container__pic {
  width: 30%;
  height: auto;
  float: left;
  margin-right: 24px;

  @include onPhone () {
    width: 40%;
    margin-right: 12px;
  }
}

//ZEITMODELLE
.calendar__box {
  width: 75%;

  @include onPhone () {
    width: 100%;
  }
}

.calendar__container {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include onPhone () {
    padding-top: 10px;
  }
}

.calendar__wochenmodell {
  max-width: 100%;
  height: auto;
}

//Entwicklung

.entwicklung__container__pic {
  width: 50%;
  height: auto;
  float: left;
  margin-right: 24px;
  
  @include onPhone () {
    width: 100%;
    margin-right: 12px;
  }
}

//.allgemein
.allgemein__container__pic {
  width: 100%;
  padding-top: 20px;

  @include onPhone() {
    width: 50%;
    margin: 0 auto;

    padding-top: 10px;
  }
}

.pic {
  max-width: 100%;
  height: auto;

  @include onPhone() {
    margin: 0 auto;
    max-width: 50%;
  }
}

